.products-table {
    border: 1px solid #e9ecef;
}

.product-column {
    text-align: center !important;
}

.product-column .p-column-header-content{
    justify-content: center !important;
}

.actions-header-icon {
    color: #8f8f8f;
}

.product-status-btn {
    outline: none !important;
    cursor: default !important;
    width: 100%;
}
