@media screen and (max-width: 1600px) {
    .warehouse-manager {
        padding-top: 12vh;
    }
}

@media screen and (orientation: portrait) {
    .warehouse-manager {
        height: 12vh;
    }
  }

.warehouse-manager {
    height: 100vh;
}